.card-parent {
    margin: 12px 0px 12px -9px;
}

.card-sidebar {
    width: 314px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    overflow: hidden;
    margin: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title-description-parent {
    width: 93%;
    padding: 4px 7px 8px 8px;
}

.details-card-title {
    margin: -5px;
    font-size: 17px;
    color: #333;
    font-weight: 600;
}

.card-time {
    font-size: 13px;
    margin: 17px 7px 5px -3px;
    color: grey;
    font-weight: 400;
}

.details-card-image {
    width: 100%;
    border: 1;
    border-radius: 10px;
    object-fit: cover;
    max-height: 215px;
    max-width: 360px;
}

.details-image-div {
    padding: 6px;
}

.messageDetails {
    font-size: 13px;
    padding: 5px 4px 14px 4px;
}

@media screen and (max-width: 480px) {

    .card-sidebar {
        width: 90%;
        border: 1px solid #e7e7e7;
        border-radius: 8px;
        overflow: hidden;
        margin: 17px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .card-parent {
        margin: auto;
    }


}